@import "./base/reset.scss";

#root > section > section
{
  float: left;
  width: 100%;
  height: 90vh;
  background: greenyellow;
  border-bottom: black 2px solid;

  h1 
  {
    font-size: 5vh;
    text-align: center;
    float: left;
    width: 50%;
    margin: 30vh 25%;
  }
}